# -----------------------------------------------------------------------------
# App
# -----------------------------------------------------------------------------
NEXT_PUBLIC_APP_URL=http://localhost:3000
BASEPATH=
GCP_PROJECT=efeonce-group

# -----------------------------------------------------------------------------
# Authentication (NextAuth.js)
# -----------------------------------------------------------------------------
NEXTAUTH_SECRET=
NEXTAUTH_URL=http://localhost:3000
GOOGLE_APPLICATION_CREDENTIALS_JSON=
DEMO_CLIENT_ID=greenhouse-demo-client
DEMO_CLIENT_EMAIL=client.portal@efeonce.com
DEMO_CLIENT_PASSWORD=greenhouse-demo
DEMO_CLIENT_NAME=Greenhouse Demo
DEMO_CLIENT_PROJECT_IDS=2dc39c2f-efe7-803e-abcd-d74ff4a40940,23339c2f-efe7-80e0-9331-e9d44054cb10,30639c2f-efe7-80f7-975a-eff92a518fb2,2dc39c2f-efe7-80d9-b209-ed222af4d7bf
