# -----------------------------------------------------------------------------
# App
# -----------------------------------------------------------------------------
NEXT_PUBLIC_APP_URL=http://localhost:3000
BASEPATH=
GCP_PROJECT=efeonce-group
GOOGLE_CLOUD_LOCATION=global
GOOGLE_GENAI_USE_VERTEXAI=true

# -----------------------------------------------------------------------------
# Authentication (NextAuth.js)
# -----------------------------------------------------------------------------
NEXTAUTH_SECRET=
NEXTAUTH_URL=http://localhost:3000
AZURE_AD_CLIENT_ID=
AZURE_AD_CLIENT_SECRET=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_APPLICATION_CREDENTIALS_JSON=
GOOGLE_APPLICATION_CREDENTIALS_JSON_BASE64=
GREENHOUSE_AGENT_MODEL=gemini-2.5-flash
HUBSPOT_GREENHOUSE_INTEGRATION_BASE_URL=https://hubspot-greenhouse-integration-183008134038.us-central1.run.app
HR_CORE_TEAMS_WEBHOOK_SECRET=
