# -----------------------------------------------------------------------------
# App
# -----------------------------------------------------------------------------
NEXT_PUBLIC_APP_URL=http://localhost:3000
BASEPATH=
GCP_PROJECT=efeonce-group

# -----------------------------------------------------------------------------
# Authentication (NextAuth.js)
# -----------------------------------------------------------------------------
NEXTAUTH_SECRET=
NEXTAUTH_URL=http://localhost:3000
GOOGLE_APPLICATION_CREDENTIALS_JSON=
HUBSPOT_GREENHOUSE_INTEGRATION_BASE_URL=https://hubspot-greenhouse-integration-183008134038.us-central1.run.app
