openapi: 3.1.0
info:
  title: Greenhouse API Platform
  version: 1.0.0-preview
  description: |
    Preview developer contract for the canonical Greenhouse API Platform lanes.
    The legacy integrations OpenAPI remains in GREENHOUSE_INTEGRATIONS_API_V1.openapi.yaml.
servers:
  - url: https://greenhouse.efeoncepro.com
  - url: https://dev-greenhouse.efeoncepro.com
components:
  securitySchemes:
    ecosystemBearer:
      type: http
      scheme: bearer
      bearerFormat: Consumer Token
    sisterPlatformKey:
      type: apiKey
      in: header
      name: x-greenhouse-sister-platform-key
    appBearer:
      type: http
      scheme: bearer
      bearerFormat: App Access Token
  parameters:
    ApiVersion:
      in: header
      name: x-greenhouse-api-version
      schema:
        type: string
        default: '2026-04-25'
    ExternalScopeType:
      in: query
      name: externalScopeType
      required: true
      schema:
        type: string
        enum: [organization, client, space, internal]
    ExternalScopeId:
      in: query
      name: externalScopeId
      required: true
      schema:
        type: string
    Page:
      in: query
      name: page
      schema:
        type: integer
        minimum: 1
        default: 1
    PageSize:
      in: query
      name: pageSize
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 25
  schemas:
    PlatformEnvelope:
      type: object
      required: [requestId, servedAt, version, data, meta]
      properties:
        requestId:
          type: string
        servedAt:
          type: string
          format: date-time
        version:
          type: string
        data: {}
        meta:
          type: object
    PlatformErrorEnvelope:
      type: object
      required: [requestId, servedAt, version, data, errors, meta]
      properties:
        requestId:
          type: string
        servedAt:
          type: string
          format: date-time
        version:
          type: string
        data:
          type: 'null'
        errors:
          type: array
          items:
            type: object
            required: [code, message]
            properties:
              code:
                type: string
              message:
                type: string
              details:
                type: object
        meta:
          type: object
    AppSessionRequest:
      type: object
      required: [email, password]
      properties:
        email:
          type: string
          format: email
        password:
          type: string
        deviceLabel:
          type: string
        devicePlatform:
          type: string
        appVersion:
          type: string
    AppRefreshRequest:
      type: object
      required: [refreshToken]
      properties:
        refreshToken:
          type: string
    WebhookSubscriptionRequest:
      type: object
      required: [targetUrl, eventFilters]
      properties:
        targetUrl:
          type: string
          format: uri
        authMode:
          type: string
          enum: [hmac_sha256, bearer, none]
          default: hmac_sha256
        secretRef:
          type: string
        eventFilters:
          type: array
          items:
            type: object
            properties:
              eventType:
                type: string
              aggregateType:
                type: string
        active:
          type: boolean
        paused:
          type: boolean
        metadata:
          type: object
    ServiceEnablementRequest:
      type: object
      properties:
        organizationId:
          type: string
          minLength: 1
          maxLength: 160
          pattern: ^[a-zA-Z0-9_.:-]+$
        targets:
          type: array
          items:
            type: object
            properties:
              serviceId:
                anyOf:
                  - type: string
                    minLength: 1
                    maxLength: 160
                    pattern: ^[a-zA-Z0-9_.:-]+$
                  - type: "null"
              moduleKey:
                type: string
                minLength: 1
                maxLength: 160
                pattern: ^[a-zA-Z0-9_.:-]+$
            required:
              - serviceId
              - moduleKey
            additionalProperties: false
          minItems: 1
          maxItems: 20
        personIds:
          type: array
          items:
            type: string
            minLength: 1
            maxLength: 160
            pattern: ^[a-zA-Z0-9_.:-]+$
          maxItems: 50
      required:
        - organizationId
        - targets
        - personIds
      additionalProperties: false
      description: A single organization. Duplicate module keys or person IDs are
        rejected. An empty person selection is valid for inventory but blocks apply.
        No actor is accepted from the body.
    ServiceEnablementApplyRequest:
      type: object
      properties:
        proposal:
          type: object
          properties:
            organizationId:
              type: string
              minLength: 1
              maxLength: 160
              pattern: ^[a-zA-Z0-9_.:-]+$
            targets:
              type: array
              items:
                type: object
                properties:
                  serviceId:
                    anyOf:
                      - type: string
                        minLength: 1
                        maxLength: 160
                        pattern: ^[a-zA-Z0-9_.:-]+$
                      - type: "null"
                  moduleKey:
                    type: string
                    minLength: 1
                    maxLength: 160
                    pattern: ^[a-zA-Z0-9_.:-]+$
                required:
                  - serviceId
                  - moduleKey
                additionalProperties: false
              minItems: 1
              maxItems: 20
            personIds:
              type: array
              items:
                type: string
                minLength: 1
                maxLength: 160
                pattern: ^[a-zA-Z0-9_.:-]+$
              maxItems: 50
          required:
            - organizationId
            - targets
            - personIds
          additionalProperties: false
        fingerprint:
          type: string
          pattern: ^[a-f0-9]{64}$
        idempotencyKey:
          type: string
          minLength: 8
          maxLength: 160
          pattern: ^[a-zA-Z0-9_.:-]+$
      required:
        - proposal
        - fingerprint
        - idempotencyKey
      additionalProperties: false
    ServiceEnablementRollbackRequest:
      type: object
      properties:
        organizationId:
          type: string
          minLength: 1
          maxLength: 160
          pattern: ^[a-zA-Z0-9_.:-]+$
        operationId:
          type: string
          minLength: 1
          maxLength: 160
          pattern: ^[a-zA-Z0-9_.:-]+$
        idempotencyKey:
          type: string
          minLength: 8
          maxLength: 160
          pattern: ^[a-zA-Z0-9_.:-]+$
      required:
        - organizationId
        - operationId
        - idempotencyKey
      additionalProperties: false
    CommercialTermsDeclareRequest:
      type: object
      additionalProperties: false
      description: Commercial terms of a service, including the client-portal modules the
        pricing bundles. The actor is the authenticated human; declaredBy never travels in
        the body. bundledModules must be ACTIVE keys of the portal catalog (fail-closed).
      required:
        - kind
        - effectiveFrom
        - bundledModules
        - reason
      properties:
        kind:
          type: string
          enum: [committed, no_cost, success_fee, reduced_fee]
        effectiveFrom:
          type: string
          format: date
        monthlyAmountClp:
          type: number
          nullable: true
          minimum: 0
        successCriteria:
          type: object
          nullable: true
          additionalProperties: true
        bundledModules:
          type: array
          maxItems: 20
          items:
            type: string
            pattern: "^[a-z0-9][a-z0-9_]{1,63}$"
        reason:
          type: string
          minLength: 10
    CommercialTermsActive:
      type: object
      description: Active terms of the service at the read date, or null when none apply.
      required:
        - serviceId
        - activeTerms
      properties:
        serviceId:
          type: string
        activeTerms:
          nullable: true
          type: object
          properties:
            termsId:
              type: string
            serviceId:
              type: string
            termsKind:
              type: string
            effectiveFrom:
              type: string
              format: date
            effectiveTo:
              type: string
              format: date
              nullable: true
            monthlyAmountClp:
              type: number
              nullable: true
            bundledModules:
              type: array
              items:
                type: string
            declaredBy:
              type: string
              nullable: true
            declaredAt:
              type: string
              format: date-time
            reason:
              type: string
    ServiceEnablementIssue:
      type: object
      required:
        - code
        - subject
        - owner
      properties:
        code: &a1
          type: string
        subject: *a1
        owner:
          type: string
          enum:
            - Commercial
            - Identity
            - Client Portal
            - Delivery/Growth
            - Notifications
    ServiceEnablementInventory:
      type: object
      required:
        - organization
        - observedAt
        - businessLines
        - services
        - terms
        - modules
        - assignments
        - people
        - sources
        - channels
      properties:
        organization:
          type: object
          required:
            - id
            - active
          properties:
            id: *a1
            active: &a2
              type: boolean
        observedAt:
          type: string
          format: date-time
        businessLines: &a4
          type: array
          items: *a1
        services:
          type: array
          items:
            type: object
            required:
              - id
              - spaceId
              - active
              - status
              - startsAt
              - endsAt
            properties:
              id: *a1
              spaceId: *a1
              active: *a2
              status: *a1
              startsAt: &a3
                type:
                  - string
                  - "null"
              endsAt: *a3
        terms:
          type: array
          items:
            type: object
            required:
              - id
              - serviceId
              - moduleKeys
              - startsAt
              - endsAt
            properties:
              id: *a1
              serviceId: *a1
              moduleKeys: *a4
              startsAt: *a1
              endsAt: *a3
        modules:
          type: array
          items:
            type: object
            required:
              - key
              - scope
              - startsAt
              - endsAt
              - viewCodes
              - dataSources
            properties:
              key: *a1
              scope: *a1
              startsAt: *a1
              endsAt: *a3
              viewCodes: *a4
              dataSources: *a4
        assignments:
          type: array
          items:
            type: object
            required:
              - id
              - moduleKey
              - status
              - startsAt
              - endsAt
              - expiresAt
              - revision
            properties:
              id: *a1
              moduleKey: *a1
              status: *a1
              startsAt: *a1
              endsAt: *a3
              expiresAt: *a3
              revision: *a1
        people:
          type: array
          items:
            type: object
            required:
              - id
              - active
              - status
              - identityLinked
              - lastLoginAt
              - emailDeliverable
              - revokedViewCodes
              - preferences
            properties:
              id: *a1
              active: *a2
              status: *a3
              identityLinked: *a2
              lastLoginAt: *a3
              emailDeliverable: *a2
              revokedViewCodes: *a4
              preferences:
                type: array
                items:
                  type: object
                  required:
                    - category
                    - email
                    - inApp
                    - mutedUntil
                  properties:
                    category: *a1
                    email: *a2
                    inApp: *a2
                    mutedUntil: *a3
        sources:
          type: array
          items:
            type: object
            required:
              - id
              - kind
              - active
              - reference
            properties:
              id: *a1
              kind:
                type: string
                enum:
                  - notion
                  - seo
              active: *a2
              reference: *a1
        channels:
          type: array
          items:
            type: object
            required:
              - id
              - kind
              - provisioningStatus
              - disabled
            properties:
              id: *a1
              kind: *a1
              provisioningStatus: *a1
              disabled: *a2
      description: Configuration only. Date columns use YYYY-MM-DD, instants use ISO
        8601. No producer delivery, recipient consent or human login is certified by
        this DTO.
    ServiceEnablementPreview:
      type: object
      required:
        - version
        - request
        - observedAt
        - fingerprint
        - inventory
        - changes
        - blockers
        - readiness
        - people
        - routes
        - canApply
      properties:
        version:
          const: 1
        request:
          $ref: "#/components/schemas/ServiceEnablementRequest"
        observedAt:
          type: string
          format: date-time
        fingerprint:
          type: string
          pattern: ^[a-f0-9]{64}$
        inventory:
          $ref: "#/components/schemas/ServiceEnablementInventory"
        changes:
          type: array
          items:
            type: object
            required:
              - serviceId
              - termsId
              - moduleKey
              - action
              - assignmentId
            properties:
              serviceId: *a1
              termsId: *a1
              moduleKey: *a1
              action:
                type: string
                enum:
                  - enable
                  - preserve
              assignmentId: *a3
        blockers:
          type: array
          items:
            $ref: "#/components/schemas/ServiceEnablementIssue"
        readiness:
          type: array
          items:
            $ref: "#/components/schemas/ServiceEnablementIssue"
        people:
          type: array
          items:
            type: object
            required:
              - id
              - views
            properties:
              id: *a1
              views:
                type: array
                items:
                  type: object
                  required:
                    - viewCode
                    - before
                    - after
                  properties:
                    viewCode: *a1
                    before: *a2
                    after: *a2
        routes:
          type: array
          items:
            type: object
            required:
              - viewCode
              - path
              - verification
            properties:
              viewCode: *a1
              path: *a3
              verification:
                const: unverified
        canApply: *a2
      description: canApply certifies configuration eligibility only. after is
        conditional visibility, not an applied grant. Readiness and authenticated
        route checks must be certified separately before rollout.
    ServiceEnablementReceipt:
      type: object
      required:
        - version
        - operationId
        - organizationId
        - actorUserId
        - fingerprint
        - created
        - preserved
      properties:
        version:
          const: 1
        operationId: *a1
        organizationId: *a1
        actorUserId: *a1
        fingerprint: *a1
        created:
          type: array
          items:
            type: object
            required:
              - assignmentId
              - moduleKey
              - revision
            properties:
              assignmentId: *a1
              moduleKey: *a1
              revision: *a1
        preserved: *a4
    ServiceEnablementCompensation:
      type: object
      required:
        - operationId
        - organizationId
        - paused
      properties:
        operationId: *a1
        organizationId: *a1
        paused: *a4
paths:
  /api/platform/app/client-services/enablement/preview:
    post:
      summary: preview organization service enablement
      description: Read-only snapshot; does not enable access or dispatch notifications.
      security:
        - appBearer: []
      parameters:
        - $ref: "#/components/parameters/ApiVersion"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ServiceEnablementRequest"
      responses:
        "200":
          description: Canonical result; mutation replay is reported in meta.replayed.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/PlatformEnvelope"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/ServiceEnablementPreview"
        "400":
          description: Malformed or invalid input.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlatformErrorEnvelope"
        "401":
          description: Missing, invalid, expired or revoked authentication.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlatformErrorEnvelope"
        "403":
          description: Requires a currently active internal administrator and the
            operation capability. A sister-platform bearer is accepted only as
            delegated HUMAN authority (client_services.enablement.write, durable
            client/token provenance, human session or the RFC 8693 exchange client);
            agent sessions and machine bearers receive invalid_delegated_context.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlatformErrorEnvelope"
        "404":
          description: Target organization or scoped receipt not found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlatformErrorEnvelope"
        "429":
          description: Canonical platform request rate limit exceeded.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlatformErrorEnvelope"
  /api/platform/app/client-services/enablement/apply:
    post:
      summary: apply organization service enablement
      description: Default OFF. Actor comes from authentication. Atomic command,
        assignment audit and outbox. Idempotency key is required in the body and
        belongs to the domain transaction.
      security:
        - appBearer: []
      parameters:
        - $ref: "#/components/parameters/ApiVersion"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ServiceEnablementApplyRequest"
      responses:
        "200":
          description: Canonical result; mutation replay is reported in meta.replayed.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/PlatformEnvelope"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/ServiceEnablementReceipt"
        "400":
          description: Malformed or invalid input.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlatformErrorEnvelope"
        "401":
          description: Missing, invalid, expired or revoked authentication.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlatformErrorEnvelope"
        "403":
          description: Requires a currently active internal administrator and the
            operation capability. A sister-platform bearer is accepted only as
            delegated HUMAN authority (client_services.enablement.write, durable
            client/token provenance, human session or the RFC 8693 exchange client);
            agent sessions and machine bearers receive invalid_delegated_context.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlatformErrorEnvelope"
        "404":
          description: Target organization or scoped receipt not found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlatformErrorEnvelope"
        "409":
          description: "service_enablement_preview_stale: re-preview;
            service_enablement_blocked: resolve configuration;
            service_enablement_compensation_conflict: review later edits;
            service_enablement_concurrent_change: retry same key;
            idempotency_conflict: key reused with different input."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlatformErrorEnvelope"
        "429":
          description: Canonical platform request rate limit exceeded.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlatformErrorEnvelope"
        "503":
          description: CLIENT_SERVICE_ENABLEMENT_WRITES_ENABLED is not explicitly true.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlatformErrorEnvelope"
  /api/platform/app/client-services/enablement/rollback:
    post:
      summary: rollback organization service enablement
      description: Default OFF. Actor comes from authentication. Atomic command,
        assignment audit and outbox. Idempotency key is required in the body and
        belongs to the domain transaction.
      security:
        - appBearer: []
      parameters:
        - $ref: "#/components/parameters/ApiVersion"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ServiceEnablementRollbackRequest"
      responses:
        "200":
          description: Canonical result; mutation replay is reported in meta.replayed.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/PlatformEnvelope"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/ServiceEnablementCompensation"
        "400":
          description: Malformed or invalid input.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlatformErrorEnvelope"
        "401":
          description: Missing, invalid, expired or revoked authentication.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlatformErrorEnvelope"
        "403":
          description: Requires a currently active internal administrator and the
            operation capability. A sister-platform bearer is accepted only as
            delegated HUMAN authority (client_services.enablement.write, durable
            client/token provenance, human session or the RFC 8693 exchange client);
            agent sessions and machine bearers receive invalid_delegated_context.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlatformErrorEnvelope"
        "404":
          description: Target organization or scoped receipt not found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlatformErrorEnvelope"
        "409":
          description: "service_enablement_preview_stale: re-preview;
            service_enablement_blocked: resolve configuration;
            service_enablement_compensation_conflict: review later edits;
            service_enablement_concurrent_change: retry same key;
            idempotency_conflict: key reused with different input."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlatformErrorEnvelope"
        "429":
          description: Canonical platform request rate limit exceeded.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlatformErrorEnvelope"
        "503":
          description: CLIENT_SERVICE_ENABLEMENT_WRITES_ENABLED is not explicitly true.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlatformErrorEnvelope"
  /api/platform/app/commercial/services/{serviceId}/terms:
    get:
      summary: read the active commercial terms of a service
      description: Internal read (commercial.engagement.read). Returns the current terms and
        the portal modules they bundle; this is the mapping the enablement preview consumes.
      security:
        - appBearer: []
      parameters:
        - $ref: "#/components/parameters/ApiVersion"
        - name: serviceId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Active terms or null.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/PlatformEnvelope"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/CommercialTermsActive"
        "401":
          description: Missing, invalid, expired or revoked authentication.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlatformErrorEnvelope"
        "403":
          description: Internal actor with commercial.engagement.read required; delegated OAuth rejected.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlatformErrorEnvelope"
    post:
      summary: declare commercial terms for a service
      description: Closes the current terms and opens the declared ones (single active
        terms per service). Requires an attributed HUMAN session with
        commercial.engagement.declare; agent sessions and delegated OAuth receive
        invalid_delegated_context. Audit and outbox are written in the same transaction.
      security:
        - appBearer: []
      parameters:
        - $ref: "#/components/parameters/ApiVersion"
        - name: serviceId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CommercialTermsDeclareRequest"
      responses:
        "201":
          description: Terms declared; returns the new termsId and the active terms.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/PlatformEnvelope"
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          termsId:
                            type: string
                          activeTerms:
                            $ref: "#/components/schemas/CommercialTermsActive/properties/activeTerms"
        "400":
          description: Malformed input, unknown field, or a bundled module that is not
            active in the client-portal catalog.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlatformErrorEnvelope"
        "401":
          description: Missing, invalid, expired or revoked authentication.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlatformErrorEnvelope"
        "403":
          description: Human commercial session with commercial.engagement.declare required.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlatformErrorEnvelope"
        "404":
          description: Service not found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlatformErrorEnvelope"
        "409":
          description: "commercial_terms_conflict: active terms changed concurrently, refresh and retry;
            commercial_terms_service_not_eligible: inactive, legacy or unmapped service."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlatformErrorEnvelope"
  /api/platform/ecosystem/client-services/enablement/preview:
    post:
      summary: preview organization service enablement
      description: Read-only snapshot; does not enable access or dispatch notifications.
      security:
        - ecosystemBearer: []
        - sisterPlatformKey: []
      parameters:
        - $ref: "#/components/parameters/ApiVersion"
        - $ref: "#/components/parameters/ExternalScopeType"
        - $ref: "#/components/parameters/ExternalScopeId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ServiceEnablementRequest"
      responses:
        "200":
          description: Canonical result; mutation replay is reported in meta.replayed.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/PlatformEnvelope"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/ServiceEnablementPreview"
        "400":
          description: Malformed or invalid input.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlatformErrorEnvelope"
        "401":
          description: Missing, invalid, expired or revoked authentication.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlatformErrorEnvelope"
        "403":
          description: Requires an active internal administrative binding with no
            organization binding.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlatformErrorEnvelope"
        "404":
          description: Target organization or scoped receipt not found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlatformErrorEnvelope"
        "429":
          description: Canonical platform request rate limit exceeded.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlatformErrorEnvelope"
  /api/platform/ecosystem/client-services/enablement/apply:
    post:
      summary: apply organization service enablement
      description: Declared but fail-closed until a separately approved delegated
        human authority contract exists. No permission widening or automatic
        federation.
      security:
        - ecosystemBearer: []
        - sisterPlatformKey: []
      parameters:
        - $ref: "#/components/parameters/ApiVersion"
        - $ref: "#/components/parameters/ExternalScopeType"
        - $ref: "#/components/parameters/ExternalScopeId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ServiceEnablementApplyRequest"
      responses:
        "400":
          description: Malformed or invalid input.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlatformErrorEnvelope"
        "401":
          description: Missing, invalid, expired or revoked authentication.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlatformErrorEnvelope"
        "403":
          description: "invalid_delegated_context: machine scope is not attributed human
            approval; writes remain unavailable."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlatformErrorEnvelope"
        "404":
          description: Target organization or scoped receipt not found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlatformErrorEnvelope"
        "429":
          description: Canonical platform request rate limit exceeded.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlatformErrorEnvelope"
  /api/platform/ecosystem/client-services/enablement/rollback:
    post:
      summary: rollback organization service enablement
      description: Declared but fail-closed until a separately approved delegated
        human authority contract exists. No permission widening or automatic
        federation.
      security:
        - ecosystemBearer: []
        - sisterPlatformKey: []
      parameters:
        - $ref: "#/components/parameters/ApiVersion"
        - $ref: "#/components/parameters/ExternalScopeType"
        - $ref: "#/components/parameters/ExternalScopeId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ServiceEnablementRollbackRequest"
      responses:
        "400":
          description: Malformed or invalid input.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlatformErrorEnvelope"
        "401":
          description: Missing, invalid, expired or revoked authentication.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlatformErrorEnvelope"
        "403":
          description: "invalid_delegated_context: machine scope is not attributed human
            approval; writes remain unavailable."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlatformErrorEnvelope"
        "404":
          description: Target organization or scoped receipt not found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlatformErrorEnvelope"
        "429":
          description: Canonical platform request rate limit exceeded.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlatformErrorEnvelope"
  /api/platform/ecosystem/context:
    get:
      summary: Resolve authenticated consumer and binding context
      security:
        - ecosystemBearer: []
        - sisterPlatformKey: []
      parameters:
        - $ref: '#/components/parameters/ApiVersion'
        - $ref: '#/components/parameters/ExternalScopeType'
        - $ref: '#/components/parameters/ExternalScopeId'
      responses:
        '200':
          description: Context resolved
  /api/platform/ecosystem/organizations:
    get:
      summary: List scoped organizations
      security:
        - ecosystemBearer: []
        - sisterPlatformKey: []
      parameters:
        - $ref: '#/components/parameters/ApiVersion'
        - $ref: '#/components/parameters/ExternalScopeType'
        - $ref: '#/components/parameters/ExternalScopeId'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
        - in: query
          name: search
          schema:
            type: string
        - in: query
          name: status
          schema:
            type: string
        - in: query
          name: type
          schema:
            type: string
      responses:
        '200':
          description: Organization collection
        '304':
          description: Not modified
  /api/platform/ecosystem/organizations/{id}:
    get:
      summary: Get a scoped organization detail
      security:
        - ecosystemBearer: []
        - sisterPlatformKey: []
      parameters:
        - $ref: '#/components/parameters/ApiVersion'
        - $ref: '#/components/parameters/ExternalScopeType'
        - $ref: '#/components/parameters/ExternalScopeId'
        - in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Organization detail
        '404':
          description: Organization not found or outside resolved scope
  /api/platform/ecosystem/capabilities:
    get:
      summary: List scoped capability assignments
      security:
        - ecosystemBearer: []
        - sisterPlatformKey: []
      parameters:
        - $ref: '#/components/parameters/ApiVersion'
        - $ref: '#/components/parameters/ExternalScopeType'
        - $ref: '#/components/parameters/ExternalScopeId'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
        - in: query
          name: search
          schema:
            type: string
      responses:
        '200':
          description: Capability collection
  /api/platform/ecosystem/integration-readiness:
    get:
      summary: Read scoped integration readiness
      security:
        - ecosystemBearer: []
        - sisterPlatformKey: []
      parameters:
        - $ref: '#/components/parameters/ApiVersion'
        - $ref: '#/components/parameters/ExternalScopeType'
        - $ref: '#/components/parameters/ExternalScopeId'
        - in: query
          name: keys
          schema:
            type: string
      responses:
        '200':
          description: Integration readiness
  /api/platform/ecosystem/event-types:
    get:
      summary: List known event types
      security:
        - ecosystemBearer: []
        - sisterPlatformKey: []
      parameters:
        - $ref: '#/components/parameters/ApiVersion'
        - $ref: '#/components/parameters/ExternalScopeType'
        - $ref: '#/components/parameters/ExternalScopeId'
        - in: query
          name: namespace
          schema:
            type: string
        - in: query
          name: aggregateType
          schema:
            type: string
        - in: query
          name: search
          schema:
            type: string
      responses:
        '200':
          description: Event type catalog
  /api/platform/ecosystem/webhook-subscriptions:
    get:
      summary: List webhook subscriptions owned by the resolved consumer and binding
      security:
        - ecosystemBearer: []
        - sisterPlatformKey: []
      parameters:
        - $ref: '#/components/parameters/ApiVersion'
        - $ref: '#/components/parameters/ExternalScopeType'
        - $ref: '#/components/parameters/ExternalScopeId'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
        - in: query
          name: active
          schema:
            type: boolean
      responses:
        '200':
          description: Webhook subscription collection
    post:
      summary: Create a webhook subscription bound to the resolved consumer and scope
      security:
        - ecosystemBearer: []
        - sisterPlatformKey: []
      parameters:
        - $ref: '#/components/parameters/ApiVersion'
        - $ref: '#/components/parameters/ExternalScopeType'
        - $ref: '#/components/parameters/ExternalScopeId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookSubscriptionRequest'
      responses:
        '201':
          description: Subscription created
  /api/platform/ecosystem/webhook-subscriptions/{id}:
    get:
      summary: Get one webhook subscription
      security:
        - ecosystemBearer: []
        - sisterPlatformKey: []
      parameters:
        - $ref: '#/components/parameters/ApiVersion'
        - $ref: '#/components/parameters/ExternalScopeType'
        - $ref: '#/components/parameters/ExternalScopeId'
        - in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Webhook subscription
    patch:
      summary: Partially update one webhook subscription
      security:
        - ecosystemBearer: []
        - sisterPlatformKey: []
      parameters:
        - $ref: '#/components/parameters/ApiVersion'
        - $ref: '#/components/parameters/ExternalScopeType'
        - $ref: '#/components/parameters/ExternalScopeId'
        - in: path
          name: id
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookSubscriptionRequest'
      responses:
        '200':
          description: Subscription updated
  /api/platform/ecosystem/webhook-deliveries:
    get:
      summary: List webhook deliveries for owned subscriptions
      security:
        - ecosystemBearer: []
        - sisterPlatformKey: []
      parameters:
        - $ref: '#/components/parameters/ApiVersion'
        - $ref: '#/components/parameters/ExternalScopeType'
        - $ref: '#/components/parameters/ExternalScopeId'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
        - in: query
          name: status
          schema:
            type: string
        - in: query
          name: eventType
          schema:
            type: string
      responses:
        '200':
          description: Webhook delivery collection
  /api/platform/ecosystem/webhook-deliveries/{id}:
    get:
      summary: Get webhook delivery detail and attempts
      security:
        - ecosystemBearer: []
        - sisterPlatformKey: []
      parameters:
        - $ref: '#/components/parameters/ApiVersion'
        - $ref: '#/components/parameters/ExternalScopeType'
        - $ref: '#/components/parameters/ExternalScopeId'
        - in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Webhook delivery
  /api/platform/ecosystem/webhook-deliveries/{id}/retry:
    post:
      summary: Schedule a retry for one failed or retryable webhook delivery
      security:
        - ecosystemBearer: []
        - sisterPlatformKey: []
      parameters:
        - $ref: '#/components/parameters/ApiVersion'
        - $ref: '#/components/parameters/ExternalScopeType'
        - $ref: '#/components/parameters/ExternalScopeId'
        - in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '202':
          description: Retry scheduled
  /api/platform/app/sessions:
    post:
      summary: Create a first-party app session
      parameters:
        - $ref: '#/components/parameters/ApiVersion'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppSessionRequest'
      responses:
        '201':
          description: App session created
    patch:
      summary: Refresh and rotate a first-party app session
      parameters:
        - $ref: '#/components/parameters/ApiVersion'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppRefreshRequest'
      responses:
        '200':
          description: App session refreshed
  /api/platform/app/sessions/current:
    delete:
      summary: Revoke the current first-party app session
      security:
        - appBearer: []
      parameters:
        - $ref: '#/components/parameters/ApiVersion'
      responses:
        '200':
          description: Session revoked
  /api/platform/app/context:
    get:
      summary: Get first-party app identity, access, views, and entitlements context
      security:
        - appBearer: []
      parameters:
        - $ref: '#/components/parameters/ApiVersion'
      responses:
        '200':
          description: App context
  /api/platform/app/home:
    get:
      summary: Get the mobile-safe Home snapshot
      security:
        - appBearer: []
      parameters:
        - $ref: '#/components/parameters/ApiVersion'
      responses:
        '200':
          description: App Home snapshot
  /api/platform/app/notifications:
    get:
      summary: List in-app notifications for the authenticated user
      security:
        - appBearer: []
      parameters:
        - $ref: '#/components/parameters/ApiVersion'
      responses:
        '200':
          description: Notification collection
  /api/platform/app/notifications/{id}/read:
    post:
      summary: Mark one notification as read
      security:
        - appBearer: []
      parameters:
        - $ref: '#/components/parameters/ApiVersion'
        - in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Notification marked as read
  /api/platform/app/notifications/mark-all-read:
    post:
      summary: Mark all notifications as read for the authenticated user
      security:
        - appBearer: []
      parameters:
        - $ref: '#/components/parameters/ApiVersion'
      responses:
        '200':
          description: Notifications marked as read
