openapi: 3.1.0
info:
  title: Greenhouse API Platform
  version: 1.1.0-preview
  description: |
    Preview developer contract for the canonical Greenhouse API Platform lanes.
    The legacy integrations OpenAPI remains in GREENHOUSE_INTEGRATIONS_API_V1.openapi.yaml.
servers:
  - url: https://greenhouse.efeoncepro.com
  - url: https://dev-greenhouse.efeoncepro.com
components:
  securitySchemes:
    ecosystemBearer:
      type: http
      scheme: bearer
      bearerFormat: Consumer Token
    sisterPlatformKey:
      type: apiKey
      in: header
      name: x-greenhouse-sister-platform-key
    appBearer:
      type: http
      scheme: bearer
      bearerFormat: App Access Token
  parameters:
    ApiVersion:
      in: header
      name: x-greenhouse-api-version
      schema:
        type: string
        default: '2026-04-25'
    ExternalScopeType:
      in: query
      name: externalScopeType
      required: true
      schema:
        type: string
        enum: [organization, client, space, internal]
    ExternalScopeId:
      in: query
      name: externalScopeId
      required: true
      schema:
        type: string
    Page:
      in: query
      name: page
      schema:
        type: integer
        minimum: 1
        default: 1
    PageSize:
      in: query
      name: pageSize
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 25
    IdempotencyKey:
      in: header
      name: Idempotency-Key
      required: false
      description: >
        Optional. Makes the command idempotent (TASK-655). The first call with a given
        key executes; a retry with the same key + same payload replays the stored response
        (with header `Idempotency-Replayed: true`); reusing the key with a different payload
        returns 409 `idempotency_conflict`; an in-flight key returns 409
        `idempotency_in_progress`. Keys are scoped per consumer and expire after 24h.
      schema:
        type: string
        maxLength: 255
  schemas:
    PlatformEnvelope:
      type: object
      required: [requestId, servedAt, version, data, meta]
      properties:
        requestId:
          type: string
        servedAt:
          type: string
          format: date-time
        version:
          type: string
        data: {}
        meta:
          type: object
    PlatformErrorEnvelope:
      type: object
      required: [requestId, servedAt, version, data, errors, meta]
      properties:
        requestId:
          type: string
        servedAt:
          type: string
          format: date-time
        version:
          type: string
        data:
          type: 'null'
        errors:
          type: array
          items:
            type: object
            required: [code, message]
            properties:
              code:
                type: string
              message:
                type: string
              details:
                type: object
        meta:
          type: object
    AppSessionRequest:
      type: object
      required: [email, password]
      properties:
        email:
          type: string
          format: email
        password:
          type: string
        deviceLabel:
          type: string
        devicePlatform:
          type: string
        appVersion:
          type: string
    AppRefreshRequest:
      type: object
      required: [refreshToken]
      properties:
        refreshToken:
          type: string
    TalentPoolAccessDecision:
      type: object
      additionalProperties: false
      required: [discoverable, contactable, allowedActions, reasonCodes]
      properties:
        discoverable: { type: boolean }
        contactable: { type: boolean }
        allowedActions:
          type: array
          items: { type: string, enum: [read, update_availability, grant_future_consent, invite, withdraw] }
        reasonCodes:
          type: array
          items:
            type: string
            enum:
              - active_application_only
              - future_consent_current
              - future_consent_missing
              - future_consent_expired
              - consent_withdrawn
              - contact_paused
              - evidence_missing
              - evidence_stale
    TalentPoolEvidence:
      type: object
      additionalProperties: false
      required:
        - sourceType
        - sourceRef
        - applicationRef
        - capabilityKey
        - seniority
        - languageCode
        - countryCode
        - availability
        - evidenceState
        - resultBand
        - observedAt
        - freshUntil
        - isStale
      properties:
        sourceType: { type: string, enum: [application, opening, assessment_competency] }
        sourceRef: { type: string }
        applicationRef: { type: [string, 'null'] }
        capabilityKey: { type: [string, 'null'] }
        seniority: { type: [string, 'null'] }
        languageCode: { type: [string, 'null'] }
        countryCode: { type: [string, 'null'] }
        availability: { type: [string, 'null'] }
        evidenceState: { type: string, enum: [declared, observed, evaluated] }
        resultBand: { type: [string, 'null'] }
        observedAt: { type: string, format: date-time }
        freshUntil: { type: [string, 'null'], format: date-time }
        isStale: { type: boolean }
    TalentPoolProfile:
      type: object
      additionalProperties: false
      required:
        - talentProfileId
        - displayName
        - lifecycleStatus
        - aggregateVersion
        - futureConsentExpiresAt
        - availability
        - seniority
        - countryCode
        - access
        - evidenceCoverage
        - evidenceFreshness
        - evidence
        - updatedAt
      properties:
        talentProfileId: { type: string }
        displayName: { type: string }
        lifecycleStatus:
          type: string
          enum: [active_process, pool_eligible, needs_reconsent, paused, withdrawn, expired]
        aggregateVersion: { type: integer, minimum: 1 }
        futureConsentExpiresAt: { type: [string, 'null'], format: date-time }
        availability: { type: [string, 'null'] }
        seniority: { type: [string, 'null'] }
        countryCode: { type: [string, 'null'] }
        access: { $ref: '#/components/schemas/TalentPoolAccessDecision' }
        evidenceCoverage: { type: string, enum: [none, partial, structured] }
        evidenceFreshness: { type: string, enum: [none, stale, current] }
        evidence:
          type: array
          items: { $ref: '#/components/schemas/TalentPoolEvidence' }
        updatedAt: { type: string, format: date-time }
    TalentPoolSearchResult:
      type: object
      additionalProperties: false
      required: [items, nextCursor]
      properties:
        items:
          type: array
          items: { $ref: '#/components/schemas/TalentPoolProfile' }
        nextCursor: { type: [string, 'null'] }
    TalentPoolAvailabilityCommand:
      type: object
      additionalProperties: false
      required: [availability]
      properties:
        availability: { type: string, minLength: 1, maxLength: 80 }
        idempotencyKey: { type: string, minLength: 8 }
    TalentPoolConsentRequestCommand:
      type: object
      additionalProperties: false
      properties:
        evidenceRef: { type: string, maxLength: 256 }
        idempotencyKey: { type: string, minLength: 8 }
    TalentPoolInviteCommand:
      type: object
      additionalProperties: false
      required: [openingId]
      properties:
        openingId: { type: string, minLength: 1 }
        proposalRef: { type: string, minLength: 4 }
        idempotencyKey: { type: string, minLength: 8 }
    CandidateReviewApplicationList:
      type: object
      additionalProperties: false
      required: [items, nextCursor]
      properties:
        items:
          type: array
          maxItems: 50
          items:
            type: object
            additionalProperties: false
            required: [applicationId, openingId, openingTitle, stage, appliedAt, candidate, cvStatus]
            properties:
              applicationId: { type: string }
              openingId: { type: string }
              openingTitle: { type: string }
              stage: { type: string }
              appliedAt: { type: string, format: date-time }
              candidate:
                type: object
                additionalProperties: false
                required: [displayName]
                properties: { displayName: { type: string } }
              cvStatus: { type: string, enum: [pending, ready, unavailable, blocked, stale, ocr_required] }
        nextCursor: { type: [string, 'null'], maxLength: 2048 }
    CandidateReviewPacket:
      type: object
      additionalProperties: false
      required: [schemaVersion, application, candidate, portfolioLinks, assessments, cv, freshness]
      properties:
        schemaVersion: { type: string, enum: [candidate-review-packet.v1] }
        application:
          type: object
          additionalProperties: false
          required: [applicationId, openingId, openingTitle, stage, appliedAt]
          properties:
            applicationId: { type: string }
            openingId: { type: string }
            openingTitle: { type: string }
            stage: { type: string }
            appliedAt: { type: string, format: date-time }
        candidate:
          type: object
          additionalProperties: false
          required: [displayName]
          properties: { displayName: { type: string } }
        portfolioLinks:
          type: array
          maxItems: 10
          items:
            type: object
            additionalProperties: false
            required: [kind, url, trust]
            properties:
              kind: { type: string, enum: [portfolio, linkedin] }
              url: { type: string, format: uri }
              trust: { type: string, enum: [untrusted_candidate_supplied] }
        assessments:
          type: array
          maxItems: 100
          items:
            type: object
            additionalProperties: false
            required: [assessmentId, method, status, submittedAt, updatedAt]
            properties:
              assessmentId: { type: string }
              method: { type: string }
              status: { type: string }
              submittedAt: { type: [string, 'null'], format: date-time }
              updatedAt: { type: string, format: date-time }
        cv:
          type: object
          additionalProperties: false
          required: [status, trust, contentHash, chunkIndex, chunkCount, text]
          properties:
            status: { type: string, enum: [pending, ready, unavailable, blocked, stale, ocr_required] }
            trust: { type: string, enum: [untrusted_candidate_supplied] }
            contentHash: { type: [string, 'null'], pattern: '^[a-f0-9]{64}$' }
            chunkIndex: { type: [integer, 'null'], minimum: 0 }
            chunkCount: { type: integer, minimum: 0, maximum: 100 }
            text: { type: [string, 'null'], maxLength: 6000 }
        freshness:
          type: object
          additionalProperties: false
          required: [sourceUpdatedAt, projectedAt, extractionVersion, redactionPolicyVersion]
          properties:
            sourceUpdatedAt: { type: string, format: date-time }
            projectedAt: { type: [string, 'null'], format: date-time }
            extractionVersion: { type: [string, 'null'] }
            redactionPolicyVersion: { type: [string, 'null'] }
    HiringApplicationOutcome:
      type: object
      additionalProperties: false
      required: [applicationId, openingId, stage, decision, decisionCause, decidedAt, decidedBy, archivedAt, closed]
      description: >
        TASK-1773. Outcome projection of one application, without candidate PII. `archivedAt` is a
        third, orthogonal axis: archiving never declares an outcome.
      properties:
        applicationId: { type: string }
        openingId: { type: string }
        stage: { type: string }
        decision:
          type: [string, 'null']
          enum: [selected, backup_selected, not_selected, rejected, withdrawn, unresponsive, null]
        decisionCause:
          type: [string, 'null']
          enum: [capacity_filled, opening_closed, process_cancelled, null]
          description: Governed enum, never free text. Non-null only when `decision` is `not_selected`.
        decidedAt: { type: [string, 'null'], format: date-time }
        decidedBy: { type: [string, 'null'] }
        archivedAt: { type: [string, 'null'], format: date-time }
        closed:
          type: boolean
          description: '`stage === ''closed''`, which the database guarantees to be equivalent to a declared outcome.'
    HiringDecisionProposeCommand:
      type: object
      additionalProperties: false
      required: [decision]
      properties:
        decision:
          type: string
          enum: [selected, backup_selected, not_selected, rejected, withdrawn, unresponsive]
        cause:
          type: [string, 'null']
          enum: [capacity_filled, opening_closed, process_cancelled, null]
    HiringDecisionProposal:
      type: object
      additionalProperties: false
      required: [applicationId, effectDigest, current, proposed, alreadyClosed]
      properties:
        applicationId: { type: string }
        effectDigest:
          type: string
          pattern: '^hdp-[a-f0-9]{24}$'
          description: >
            Fingerprint of the current state plus the proposed effect. Not persisted anywhere;
            `confirm` recomputes it and rejects the write when it no longer matches.
        current: { $ref: '#/components/schemas/HiringApplicationOutcome' }
        proposed:
          type: object
          additionalProperties: false
          required: [decision, cause]
          properties:
            decision: { type: string }
            cause: { type: [string, 'null'] }
        alreadyClosed:
          type: boolean
          description: >
            `true` when the application already has an outcome, so confirming re-decides it instead
            of closing it for the first time. The Nexa action refuses this case; this lane does not.
    HiringDecisionConfirmCommand:
      type: object
      additionalProperties: false
      required: [decision, effectDigest, reasonSummary]
      properties:
        decision:
          type: string
          enum: [selected, backup_selected, not_selected, rejected, withdrawn, unresponsive]
        cause:
          type: [string, 'null']
          enum: [capacity_filled, opening_closed, process_cancelled, null]
        effectDigest: { type: string, pattern: '^hdp-[a-f0-9]{24}$' }
        reasonSummary:
          type: string
          minLength: 8
          maxLength: 1600
          description: Human, defensible reason. The canonical command rejects anything shorter than 8 characters.
        idempotencyKey:
          type: string
          minLength: 1
          maxLength: 160
          description: Fallback when the `Idempotency-Key` header is absent. One of the two is mandatory.
    HiringDecisionResult:
      type: object
      required: [application, decisionEntry, idempotentReplay]
      description: >
        Canonical command result. `application` is the full `HiringApplication` aggregate — not the
        PII-minimized outcome projection — and `decisionEntry` is the append-only history entry.
      properties:
        application: { type: object }
        decisionEntry: { type: object }
        idempotentReplay: { type: boolean }
    PlatformHealthV1:
      type: object
      required:
        - contractVersion
        - generatedAt
        - environment
        - overallStatus
        - confidence
        - safeModes
        - modules
        - blockingIssues
        - warnings
        - recommendedChecks
        - degradedSources
      properties:
        contractVersion:
          type: string
          enum: [platform-health.v1]
        generatedAt:
          type: string
          format: date-time
        environment:
          type: string
          enum: [development, preview, staging, production, unknown]
        overallStatus:
          type: string
          enum: [healthy, degraded, blocked, unknown]
        confidence:
          type: string
          enum: [high, medium, low, unknown]
        safeModes:
          type: object
          required:
            - readSafe
            - writeSafe
            - deploySafe
            - backfillSafe
            - notifySafe
            - agentAutomationSafe
          properties:
            readSafe: { type: boolean }
            writeSafe: { type: boolean }
            deploySafe: { type: boolean }
            backfillSafe: { type: boolean }
            notifySafe: { type: boolean }
            agentAutomationSafe: { type: boolean }
        modules:
          type: array
          items:
            type: object
            required: [moduleKey, label, domain, status, confidence, summary, topIssues, sourceFreshness]
            properties:
              moduleKey: { type: string }
              label: { type: string }
              domain: { type: string }
              status:
                type: string
                enum: [healthy, degraded, blocked, unknown]
              confidence:
                type: string
                enum: [high, medium, low, unknown]
              summary: { type: string }
              topIssues:
                type: array
                items: { $ref: '#/components/schemas/PlatformHealthIssue' }
              sourceFreshness:
                type: object
                additionalProperties:
                  type: string
                  format: date-time
                  nullable: true
        blockingIssues:
          type: array
          items: { $ref: '#/components/schemas/PlatformHealthIssue' }
        warnings:
          type: array
          items: { $ref: '#/components/schemas/PlatformHealthIssue' }
        recommendedChecks:
          type: array
          items:
            type: object
            required: [id, label, appliesWhen]
            properties:
              id: { type: string }
              label: { type: string }
              command: { type: string }
              docs: { type: string }
              appliesWhen:
                type: array
                items: { type: string }
        degradedSources:
          type: array
          items:
            type: object
            required: [source, status, observedAt, summary]
            properties:
              source: { type: string }
              status:
                type: string
                enum: [timeout, error, unavailable, not_configured]
              observedAt:
                type: string
                format: date-time
              summary: { type: string }
    PlatformHealthIssue:
      type: object
      required: [moduleKey, severity, source, summary, evidenceRefs, ownerDomain, observedAt]
      properties:
        moduleKey: { type: string }
        severity:
          type: string
          enum: [ok, warning, error, unknown]
        source: { type: string }
        summary: { type: string }
        evidenceRefs:
          type: array
          items: { type: string }
        ownerDomain: { type: string }
        observedAt:
          type: string
          format: date-time
          nullable: true
    WebhookSubscriptionRequest:
      type: object
      required: [targetUrl, eventFilters]
      properties:
        targetUrl:
          type: string
          format: uri
        authMode:
          type: string
          enum: [hmac_sha256, bearer, none]
          default: hmac_sha256
        secretRef:
          type: string
        eventFilters:
          type: array
          items:
            type: object
            properties:
              eventType:
                type: string
              aggregateType:
                type: string
        active:
          type: boolean
        paused:
          type: boolean
        metadata:
          type: object
paths:
  /api/platform/ecosystem/context:
    get:
      summary: Resolve authenticated consumer and binding context
      security:
        - ecosystemBearer: []
        - sisterPlatformKey: []
      parameters:
        - $ref: '#/components/parameters/ApiVersion'
        - $ref: '#/components/parameters/ExternalScopeType'
        - $ref: '#/components/parameters/ExternalScopeId'
      responses:
        '200':
          description: Context resolved
  /api/platform/ecosystem/organizations:
    get:
      summary: List scoped organizations
      security:
        - ecosystemBearer: []
        - sisterPlatformKey: []
      parameters:
        - $ref: '#/components/parameters/ApiVersion'
        - $ref: '#/components/parameters/ExternalScopeType'
        - $ref: '#/components/parameters/ExternalScopeId'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
        - in: query
          name: search
          schema:
            type: string
        - in: query
          name: status
          schema:
            type: string
        - in: query
          name: type
          schema:
            type: string
      responses:
        '200':
          description: Organization collection
        '304':
          description: Not modified
  /api/platform/ecosystem/organizations/{id}:
    get:
      summary: Get a scoped organization detail
      security:
        - ecosystemBearer: []
        - sisterPlatformKey: []
      parameters:
        - $ref: '#/components/parameters/ApiVersion'
        - $ref: '#/components/parameters/ExternalScopeType'
        - $ref: '#/components/parameters/ExternalScopeId'
        - in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Organization detail
        '404':
          description: Organization not found or outside resolved scope
  /api/platform/ecosystem/capabilities:
    get:
      summary: List scoped capability assignments
      security:
        - ecosystemBearer: []
        - sisterPlatformKey: []
      parameters:
        - $ref: '#/components/parameters/ApiVersion'
        - $ref: '#/components/parameters/ExternalScopeType'
        - $ref: '#/components/parameters/ExternalScopeId'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
        - in: query
          name: search
          schema:
            type: string
      responses:
        '200':
          description: Capability collection
  /api/platform/ecosystem/integration-readiness:
    get:
      summary: Read scoped integration readiness
      security:
        - ecosystemBearer: []
        - sisterPlatformKey: []
      parameters:
        - $ref: '#/components/parameters/ApiVersion'
        - $ref: '#/components/parameters/ExternalScopeType'
        - $ref: '#/components/parameters/ExternalScopeId'
        - in: query
          name: keys
          schema:
            type: string
      responses:
        '200':
          description: Integration readiness
  /api/platform/ecosystem/health:
    get:
      summary: Platform Health V1 — preflight contract for agents and MCP
      description: |
        Versioned read-only contract that composes Reliability Control Plane,
        Operations Overview, internal runtime checks, integration readiness,
        synthetic monitoring and webhook delivery into a single payload with
        deterministic safe-mode booleans.

        Audience: ecosystem (redacted summary; no evidence detail until
        TASK-658 lands the `platform.health.detail` capability bridge).
        Admins consume `/api/admin/platform-health` for the full payload.

        A single source timeout/error degrades the response (lower confidence,
        populated `degradedSources[]`) instead of returning 5xx. Stack traces,
        secrets, tokens and PII are stripped before serialization.
      security:
        - ecosystemBearer: []
        - sisterPlatformKey: []
      parameters:
        - $ref: '#/components/parameters/ApiVersion'
        - $ref: '#/components/parameters/ExternalScopeType'
        - $ref: '#/components/parameters/ExternalScopeId'
      responses:
        '200':
          description: Platform health snapshot
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PlatformEnvelope'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/PlatformHealthV1'
        '304':
          description: Not modified
  /api/platform/ecosystem/event-types:
    get:
      summary: List known event types
      security:
        - ecosystemBearer: []
        - sisterPlatformKey: []
      parameters:
        - $ref: '#/components/parameters/ApiVersion'
        - $ref: '#/components/parameters/ExternalScopeType'
        - $ref: '#/components/parameters/ExternalScopeId'
        - in: query
          name: namespace
          schema:
            type: string
        - in: query
          name: aggregateType
          schema:
            type: string
        - in: query
          name: search
          schema:
            type: string
      responses:
        '200':
          description: Event type catalog
  /api/platform/ecosystem/webhook-subscriptions:
    get:
      summary: List webhook subscriptions owned by the resolved consumer and binding
      security:
        - ecosystemBearer: []
        - sisterPlatformKey: []
      parameters:
        - $ref: '#/components/parameters/ApiVersion'
        - $ref: '#/components/parameters/ExternalScopeType'
        - $ref: '#/components/parameters/ExternalScopeId'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
        - in: query
          name: active
          schema:
            type: boolean
      responses:
        '200':
          description: Webhook subscription collection
    post:
      summary: Create a webhook subscription bound to the resolved consumer and scope
      description: Idempotent command (TASK-655). Pass `Idempotency-Key` to make retries safe.
      security:
        - ecosystemBearer: []
        - sisterPlatformKey: []
      parameters:
        - $ref: '#/components/parameters/ApiVersion'
        - $ref: '#/components/parameters/ExternalScopeType'
        - $ref: '#/components/parameters/ExternalScopeId'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookSubscriptionRequest'
      responses:
        '201':
          description: Subscription created (or replayed from a prior identical request)
        '409':
          description: Idempotency conflict (key reused with a different payload) or in-progress
  /api/platform/ecosystem/webhook-subscriptions/{id}:
    get:
      summary: Get one webhook subscription
      security:
        - ecosystemBearer: []
        - sisterPlatformKey: []
      parameters:
        - $ref: '#/components/parameters/ApiVersion'
        - $ref: '#/components/parameters/ExternalScopeType'
        - $ref: '#/components/parameters/ExternalScopeId'
        - in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Webhook subscription
    patch:
      summary: Partially update one webhook subscription
      description: Idempotent command (TASK-655). Pass `Idempotency-Key` to make retries safe.
      security:
        - ecosystemBearer: []
        - sisterPlatformKey: []
      parameters:
        - $ref: '#/components/parameters/ApiVersion'
        - $ref: '#/components/parameters/ExternalScopeType'
        - $ref: '#/components/parameters/ExternalScopeId'
        - $ref: '#/components/parameters/IdempotencyKey'
        - in: path
          name: id
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookSubscriptionRequest'
      responses:
        '200':
          description: Subscription updated (or replayed from a prior identical request)
        '409':
          description: Idempotency conflict (key reused with a different payload) or in-progress
  /api/platform/ecosystem/webhook-deliveries:
    get:
      summary: List webhook deliveries for owned subscriptions
      security:
        - ecosystemBearer: []
        - sisterPlatformKey: []
      parameters:
        - $ref: '#/components/parameters/ApiVersion'
        - $ref: '#/components/parameters/ExternalScopeType'
        - $ref: '#/components/parameters/ExternalScopeId'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
        - in: query
          name: status
          schema:
            type: string
        - in: query
          name: eventType
          schema:
            type: string
      responses:
        '200':
          description: Webhook delivery collection
  /api/platform/ecosystem/webhook-deliveries/{id}:
    get:
      summary: Get webhook delivery detail and attempts
      security:
        - ecosystemBearer: []
        - sisterPlatformKey: []
      parameters:
        - $ref: '#/components/parameters/ApiVersion'
        - $ref: '#/components/parameters/ExternalScopeType'
        - $ref: '#/components/parameters/ExternalScopeId'
        - in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Webhook delivery
  /api/platform/ecosystem/webhook-deliveries/{id}/retry:
    post:
      summary: Schedule a retry for one failed or retryable webhook delivery
      description: Idempotent command (TASK-655). Pass `Idempotency-Key` to make retries safe.
      security:
        - ecosystemBearer: []
        - sisterPlatformKey: []
      parameters:
        - $ref: '#/components/parameters/ApiVersion'
        - $ref: '#/components/parameters/ExternalScopeType'
        - $ref: '#/components/parameters/ExternalScopeId'
        - $ref: '#/components/parameters/IdempotencyKey'
        - in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '202':
          description: Retry scheduled (or replayed from a prior identical request)
        '409':
          description: Idempotency conflict (key reused with a different payload) or in-progress
  /api/platform/app/sessions:
    post:
      summary: Create a first-party app session
      parameters:
        - $ref: '#/components/parameters/ApiVersion'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppSessionRequest'
      responses:
        '201':
          description: App session created
    patch:
      summary: Refresh and rotate a first-party app session
      parameters:
        - $ref: '#/components/parameters/ApiVersion'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppRefreshRequest'
      responses:
        '200':
          description: App session refreshed
  /api/platform/app/hiring/talent-pool:
    get:
      summary: Search the governed Hiring Talent Pool
      description: |
        Returns a deterministic, person-first and PII-minimized projection. It requires
        `hiring.talent_pool.read`. Sister-platform OAuth callers must additionally provide
        the exact delegated client/scope plus `x-greenhouse-purpose: talent_pool_candidate_review`
        and a bounded `x-greenhouse-agent-host`. The provider remains disabled until rollout.
      security:
        - appBearer: []
      parameters:
        - $ref: '#/components/parameters/ApiVersion'
        - in: header
          name: x-greenhouse-purpose
          required: false
          schema: { type: string, enum: [talent_pool_candidate_review] }
        - in: header
          name: x-greenhouse-agent-host
          required: false
          schema: { type: string, pattern: '^[a-z0-9][a-z0-9._-]{1,63}$' }
        - in: query
          name: query
          schema: { type: string }
        - in: query
          name: capability
          schema: { type: array, items: { type: string } }
          style: form
          explode: true
        - in: query
          name: seniority
          schema: { type: string }
        - in: query
          name: language
          schema: { type: string }
        - in: query
          name: country
          schema: { type: string }
        - in: query
          name: availability
          schema: { type: string }
        - in: query
          name: cursor
          schema: { type: string }
        - in: query
          name: limit
          schema: { type: integer, minimum: 1, maximum: 100, default: 25 }
      responses:
        '200':
          description: Talent Pool search result
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PlatformEnvelope'
                  - type: object
                    properties:
                      data: { $ref: '#/components/schemas/TalentPoolSearchResult' }
        '400': { description: Invalid delegated purpose or agent host }
        '401': { description: Missing or invalid session/bearer }
        '403': { description: Capability, scope or delegated grant denied }
        '429': { description: Rate limit exceeded }
        '503': { description: Talent Pool search or MCP flag is disabled }
  /api/platform/app/hiring/talent-pool/{id}:
    get:
      summary: Get one governed Talent Pool profile
      description: Uses the same allowlist and delegated authorization contract as Talent Pool search.
      security:
        - appBearer: []
      parameters:
        - $ref: '#/components/parameters/ApiVersion'
        - in: path
          name: id
          required: true
          schema: { type: string }
        - in: header
          name: x-greenhouse-purpose
          required: false
          schema: { type: string, enum: [talent_pool_candidate_review] }
        - in: header
          name: x-greenhouse-agent-host
          required: false
          schema: { type: string, pattern: '^[a-z0-9][a-z0-9._-]{1,63}$' }
      responses:
        '200':
          description: Talent Pool profile
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PlatformEnvelope'
                  - type: object
                    properties:
                      data: { $ref: '#/components/schemas/TalentPoolProfile' }
        '400': { description: Invalid delegated purpose or agent host }
        '401': { description: Missing or invalid session/bearer }
        '403': { description: Capability, scope or delegated grant denied }
        '404': { description: Talent Pool profile not found }
        '429': { description: Rate limit exceeded }
        '503': { description: Talent Pool search or MCP flag is disabled }
  /api/platform/app/hiring/talent-pool/{id}/availability:
    post:
      summary: Update Talent Pool availability through the canonical command
      security: [{ appBearer: [] }]
      parameters:
        - $ref: '#/components/parameters/ApiVersion'
        - $ref: '#/components/parameters/IdempotencyKey'
        - { in: path, name: id, required: true, schema: { type: string } }
      requestBody:
        required: true
        content: { application/json: { schema: { $ref: '#/components/schemas/TalentPoolAvailabilityCommand' } } }
      responses:
        '200': { description: Availability updated or idempotently replayed }
        '403': { description: Internal manage capability denied }
  /api/platform/app/hiring/talent-pool/{id}/consent/request:
    post:
      summary: Request future-opportunities consent through the canonical command
      security: [{ appBearer: [] }]
      parameters:
        - $ref: '#/components/parameters/ApiVersion'
        - $ref: '#/components/parameters/IdempotencyKey'
        - { in: path, name: id, required: true, schema: { type: string } }
      requestBody:
        content: { application/json: { schema: { $ref: '#/components/schemas/TalentPoolConsentRequestCommand' } } }
      responses:
        '200': { description: Consent verification request recorded }
        '503': { description: Candidate self-service rollout is disabled }
  /api/platform/app/hiring/talent-pool/{id}/consent/withdraw:
    post:
      summary: Withdraw future-opportunities consent through the canonical command
      security: [{ appBearer: [] }]
      parameters:
        - $ref: '#/components/parameters/ApiVersion'
        - $ref: '#/components/parameters/IdempotencyKey'
        - { in: path, name: id, required: true, schema: { type: string } }
      requestBody:
        content: { application/json: { schema: { $ref: '#/components/schemas/TalentPoolConsentRequestCommand' } } }
      responses:
        '200': { description: Withdrawal recorded; active process is preserved when applicable }
  /api/platform/app/hiring/talent-pool/{id}/invite/propose:
    post:
      summary: Propose a governed invitation
      security: [{ appBearer: [] }]
      parameters:
        - $ref: '#/components/parameters/ApiVersion'
        - $ref: '#/components/parameters/IdempotencyKey'
        - { in: path, name: id, required: true, schema: { type: string } }
      requestBody:
        required: true
        content: { application/json: { schema: { $ref: '#/components/schemas/TalentPoolInviteCommand' } } }
      responses:
        '200': { description: Proposal created or reused }
        '503': { description: Invitation rollout is disabled }
  /api/platform/app/hiring/talent-pool/{id}/invite/confirm:
    post:
      summary: Confirm a governed invitation
      security: [{ appBearer: [] }]
      parameters:
        - $ref: '#/components/parameters/ApiVersion'
        - $ref: '#/components/parameters/IdempotencyKey'
        - { in: path, name: id, required: true, schema: { type: string } }
      requestBody:
        required: true
        content: { application/json: { schema: { $ref: '#/components/schemas/TalentPoolInviteCommand' } } }
      responses:
        '200': { description: Canonical HiringApplication created or reused }
        '503': { description: Invitation rollout is disabled }
  /api/platform/app/hiring/applications/review:
    get:
      summary: List exact applications available for delegated review
      description: Internal delegated OAuth only. Reader remains OFF until TASK-1718 privacy/security rollout.
      security: [{ appBearer: [] }]
      parameters:
        - $ref: '#/components/parameters/ApiVersion'
        - { in: header, name: x-greenhouse-purpose, required: true, schema: { type: string, enum: [screening_review, interview_preparation, evidence_comparison, audit_review] } }
        - { in: header, name: x-greenhouse-agent-host, required: true, schema: { type: string, pattern: '^[a-z0-9][a-z0-9._-]{1,63}$' } }
        - { in: query, name: openingId, required: true, schema: { type: string } }
        - { in: query, name: stage, schema: { type: string } }
        - { in: query, name: limit, schema: { type: integer, minimum: 1, maximum: 50 } }
        - { in: query, name: cursor, schema: { type: string, maxLength: 2048 } }
      responses:
        '200':
          description: Minimized application list
          content: { application/json: { schema: { allOf: [{ $ref: '#/components/schemas/PlatformEnvelope' }, { type: object, properties: { data: { $ref: '#/components/schemas/CandidateReviewApplicationList' } } }] } } }
        '403': { description: Delegated scope/capability denied }
        '503': { description: Candidate review reader disabled }
  /api/platform/app/hiring/applications/{applicationId}/review-packet:
    get:
      summary: Get one exact minimized candidate review packet
      description: Returns at most one redacted CV text chunk and never contact, legal identity, answers or notes.
      security: [{ appBearer: [] }]
      parameters:
        - $ref: '#/components/parameters/ApiVersion'
        - { in: path, name: applicationId, required: true, schema: { type: string } }
        - { in: header, name: x-greenhouse-purpose, required: true, schema: { type: string, enum: [screening_review, interview_preparation, evidence_comparison, audit_review] } }
        - { in: header, name: x-greenhouse-agent-host, required: true, schema: { type: string, pattern: '^[a-z0-9][a-z0-9._-]{1,63}$' } }
        - { in: query, name: chunkIndex, schema: { type: integer, minimum: 0, maximum: 99 } }
        - { in: query, name: expectedContentHash, schema: { type: string, pattern: '^[a-f0-9]{64}$' } }
      responses:
        '200':
          description: Exact allowlisted packet
          content: { application/json: { schema: { allOf: [{ $ref: '#/components/schemas/PlatformEnvelope' }, { type: object, properties: { data: { $ref: '#/components/schemas/CandidateReviewPacket' } } }] } } }
        '409': { description: Content hash changed; restart packet read }
        '503': { description: Candidate review reader disabled }
  /api/platform/app/hiring/applications/{applicationId}/outcome:
    get:
      summary: Read the three outcome axes of one application
      description: |
        TASK-1773. Projects the three axes of a single application: `stage` (where the person is),
        the declared outcome plus its governed cause, and the orthogonal `archivedAt` — archiving
        never declares an outcome. `closed` mirrors `stage === 'closed'`, which the database
        guarantees to be equivalent to having a declared outcome. The projection carries no
        candidate PII.

        Requires an `efeonce_internal` tenant plus `hiring.application.decide` with action `read`.
        A delegated `sister_platform_oauth` bearer may read it. There is no feature flag on this
        route.

        Status: code-complete on `develop` and not deployed; no runtime evidence yet.
      security: [{ appBearer: [] }]
      parameters:
        - $ref: '#/components/parameters/ApiVersion'
        - { in: path, name: applicationId, required: true, schema: { type: string } }
      responses:
        '200':
          description: Application outcome projection
          content: { application/json: { schema: { allOf: [{ $ref: '#/components/schemas/PlatformEnvelope' }, { type: object, properties: { data: { $ref: '#/components/schemas/HiringApplicationOutcome' } } }] } } }
        '400': { description: Empty application id }
        '401': { description: Missing or invalid session/bearer }
        '403': { description: Non-internal tenant, or `hiring.application.decide` read denied }
        '404': { description: Application not found }
        '429': { description: Rate limit exceeded }
  /api/platform/app/hiring/applications/{applicationId}/decision/propose:
    post:
      summary: Propose an outcome without mutating the application
      description: |
        TASK-1773. Reads the application and returns its current outcome, the proposed
        `decision`/`cause` pair and an `effectDigest` — a fingerprint of the CURRENT state plus the
        proposed effect. It never writes.

        The proposal is deliberately ephemeral. Unlike a Talent Pool invitation (which persists in
        `talent_pool_invitation` because an invitation is an entity with its own lifecycle), a
        decision proposal is not an entity: nothing is stored, and the task ships with
        `Migration: none`. The digest is what `confirm` recomputes to detect that the world moved.

        The decision/cause pairing is NOT validated here — that validation lives in the canonical
        command and therefore surfaces on `confirm`.

        Requires an `efeonce_internal` tenant plus `hiring.application.decide` with action
        `execute`. A delegated `sister_platform_oauth` bearer MAY propose.

        Status: code-complete on `develop` and not deployed; no runtime evidence yet.
      security: [{ appBearer: [] }]
      parameters:
        - $ref: '#/components/parameters/ApiVersion'
        - $ref: '#/components/parameters/IdempotencyKey'
        - { in: path, name: applicationId, required: true, schema: { type: string } }
      requestBody:
        required: true
        content: { application/json: { schema: { $ref: '#/components/schemas/HiringDecisionProposeCommand' } } }
      responses:
        '200':
          description: Proposal computed; nothing was written
          content: { application/json: { schema: { allOf: [{ $ref: '#/components/schemas/PlatformEnvelope' }, { type: object, properties: { data: { $ref: '#/components/schemas/HiringDecisionProposal' } } }] } } }
        '400': { description: Empty application id }
        '401': { description: Missing or invalid session/bearer }
        '403': { description: Non-internal tenant, or `hiring.application.decide` execute denied }
        '404': { description: Application not found }
        '429': { description: Rate limit exceeded }
  /api/platform/app/hiring/applications/{applicationId}/decision/confirm:
    post:
      summary: Confirm a proposed outcome through the canonical command
      description: |
        TASK-1773. Recomputes the `effectDigest` against the state of NOW; when it matches, it
        delegates to `decideHiringApplication` — the same command the portal uses. Every decision
        rule (cause required on `not_selected` and forbidden on the other five outcomes,
        destination, idempotent replay, append-only history, `FOR UPDATE`) stays in that command;
        this lane adds none.

        FAIL-CLOSED for delegated agents: a `sister_platform_oauth` bearer may read and propose but
        NEVER confirm. `efeonce.mcp.hiring.write` does not exist in code and remains blocked until
        the revocable grant of TASK-1631, so confirming requires a human session
        (`cookie_session` or `first_party_app`).

        An idempotency key is mandatory: send the `Idempotency-Key` header or `idempotencyKey` in
        the body (up to 160 characters). The canonical command rejects an empty one.

        Known boundary of this adapter: it forwards only `decision`, `cause`, `reasonSummary` and
        the idempotency key, and `selectedDestination`, which the command requires for `selected` and
        `backup_selected`.


        Status: code-complete on `develop` and not deployed; no runtime evidence yet.
      security: [{ appBearer: [] }]
      parameters:
        - $ref: '#/components/parameters/ApiVersion'
        - $ref: '#/components/parameters/IdempotencyKey'
        - { in: path, name: applicationId, required: true, schema: { type: string } }
      requestBody:
        required: true
        content: { application/json: { schema: { $ref: '#/components/schemas/HiringDecisionConfirmCommand' } } }
      responses:
        '200':
          description: Outcome declared, or idempotently replayed
          content: { application/json: { schema: { allOf: [{ $ref: '#/components/schemas/PlatformEnvelope' }, { type: object, properties: { data: { $ref: '#/components/schemas/HiringDecisionResult' } } }] } } }
        '400': { description: '`bad_request` — missing/oversized idempotency key, reason summary under 8 characters, invalid decision or cause, or missing destination for `selected`/`backup_selected`' }
        '401': { description: Missing or invalid session/bearer }
        '403': { description: '`forbidden` — non-internal tenant, execute capability denied, or a delegated agent attempting to confirm' }
        '404': { description: Application not found }
        '409': { description: '`hiring_decision_proposal_stale` — the digest no longer matches, so someone decided, archived or moved the application in between. The adapter maps every domain 409 to this code, which also covers reusing an idempotency key with a different payload and selecting against a closed/cancelled opening' }
        '422': { description: 'Cause pairing violated (required on `not_selected`, forbidden otherwise). Emitted with error code `bad_request`' }
        '429': { description: Rate limit exceeded }
  /api/platform/app/sessions/current:
    delete:
      summary: Revoke the current first-party app session
      security:
        - appBearer: []
      parameters:
        - $ref: '#/components/parameters/ApiVersion'
      responses:
        '200':
          description: Session revoked
  /api/platform/app/context:
    get:
      summary: Get first-party app identity, access, views, and entitlements context
      security:
        - appBearer: []
      parameters:
        - $ref: '#/components/parameters/ApiVersion'
      responses:
        '200':
          description: App context
  /api/platform/app/home:
    get:
      summary: Get the mobile-safe Home snapshot
      security:
        - appBearer: []
      parameters:
        - $ref: '#/components/parameters/ApiVersion'
      responses:
        '200':
          description: App Home snapshot
  /api/platform/app/organizations/{id}/compact-signals:
    get:
      summary: Get compact Organization Workspace signals
      security:
        - appBearer: []
      parameters:
        - $ref: '#/components/parameters/ApiVersion'
        - in: path
          name: id
          required: true
          schema:
            type: string
        - in: query
          name: asOf
          schema:
            type: string
            format: date
        - in: query
          name: year
          schema:
            type: integer
            minimum: 1
        - in: query
          name: month
          schema:
            type: integer
            minimum: 1
            maximum: 12
        - in: query
          name: accountLimit
          schema:
            type: integer
            minimum: 1
        - in: query
          name: recentSignalsLimit
          schema:
            type: integer
            minimum: 1
        - in: query
          name: nextActionsLimit
          schema:
            type: integer
            minimum: 1
      responses:
        '200':
          description: Compact Organization Workspace signal projection
        '404':
          description: Organization not found
  /api/platform/app/notifications:
    get:
      summary: List in-app notifications for the authenticated user
      security:
        - appBearer: []
      parameters:
        - $ref: '#/components/parameters/ApiVersion'
      responses:
        '200':
          description: Notification collection
  /api/platform/app/notifications/{id}/read:
    post:
      summary: Mark one notification as read
      security:
        - appBearer: []
      parameters:
        - $ref: '#/components/parameters/ApiVersion'
        - in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Notification marked as read
  /api/platform/app/notifications/mark-all-read:
    post:
      summary: Mark all notifications as read for the authenticated user
      security:
        - appBearer: []
      parameters:
        - $ref: '#/components/parameters/ApiVersion'
      responses:
        '200':
          description: Notifications marked as read
